[**.js]
indent_style = space
indent_size = 4
quote_type = single
print_width = 140

[**.ts]
indent_style = space
indent_size = 4
quote_type = single
print_width = 140

[**.json]
indent_size = 2

[elm-package.json]
indent_size = 4
