docs/docs.js linguist-generated=true
js/backend-elm.js linguist-generated=true
js/public/editor-elm.js linguist-generated=true
js/public/client-elm.js linguist-generated=true
js/public/bootstrap/start-bootstrap-admin-2_v3.3.7.css linguist-generated=true
js/public/font-awesome-4.7.0/css/*.css linguist-generated=true

